{% extends "base.html" %}

{% block title %}{{ product.name }}{% endblock %}

{% block content %}
    <h1>{{ product.name }}</h1>
    <img src="{{ product.thumbnail }}" alt="{{ product.name }}" width="200"><br><br>

    <p><strong>Harga:</strong> Rp{{ product.price }}</p>
    <p><strong>Kategori:</strong> {{ product.category }}</p>
    <p><strong>Deskripsi:</strong> {{ product.description }}</p>
    <p><strong>Unggulan:</strong> {{ product.is_featured }}</p>

    <br>
    <a href="{% url 'main:product_list' %}">← Kembali ke Daftar Produk</a>
{% endblock %}
